html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font-stack;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 740px;
  }
}

.wrapper {
  @media (min-width: 1280px) {
    width: 1200px;
  }
}
